body {
   background: #F5F5F5;
   color: #222222;
   width: 70%;
   max-width: 1600px;
   margin: 15px auto;
   font-family: Helvetica, Arial, sans-serif;
}

a {
   text-decoration: none;
}

a:visited {
   color: inherit;
}

.nav ul {
   list-style-type: none;
   display: flex;
   justify-content: right;
}

.nav li {
   justify-content: right;
   margin-left: 80px;
}

header h1 {
   font-weight: 600;
   font-size: 2.6em;
}

.nav {
   position: absolute;
   font-size: 17px;
   font-weight: 600;
   text-transform: uppercase;
   letter-spacing: 0.05em;
   justify-content: right;
}

header {
   display: flex;
}

.intro {
   display: flex;
}

.intro h1 {
   font-size: 83px;
   font-weight: 700;
   margin: 0;
   padding-top: 30%;
}

.intro h3 {
   font-family: 'Minion Pro', sans-serif;
   font-weight: 800;
   font-size: 25px;
   line-height: 35px;
   margin-bottom: 0;
}

.see-work a {
   display: flex;
}

.see-work i {
   padding: 34px 15px;
}

.see-work h3::after {
   content: '';
   display: block;
   width: 0;
   height: 2px;
   background: #222222;
   transition: width 0.3s;
}

.see-work h3:hover::after {
   width: 126%;
}

.hvr-skew-forward {
   -webkit-transform: perspective(1px) translateZ(0);
   transform: perspective(1px) translateZ(0);
   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
   -webkit-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -webkit-transition-property: transform;
   transition-property: transform;
   -webkit-transform-origin: 0 100%;
   transform-origin: 0 100%;
 }
 .hvr-skew-forward:hover, .hvr-skew-forward:focus, .hvr-skew-forward:active {
   -webkit-transform: skew(-10deg);
   transform: skew(-10deg);
 }

.illustration img {
   max-width: 500px;
   height: auto;
   padding-top: 30%;
}