body {
   background: #F5F5F5;
   color: #222222;
   width: 70%;
   max-width: 1600px;
   margin: 15px auto;
   font-family: Helvetica, Arial, sans-serif;
}

a {
   text-decoration: none;
}

a:visited {
   color: inherit;
}

nav ul {
   list-style-type: none;
   display: flex;
   justify-content: right;
}

nav li {
   justify-content: right;
   margin-left: 80px;
}

header h1 {
   font-weight: 600;
   font-size: 2.6em;
}

nav {
   font-size: 18px;
   font-weight: 600;
   text-transform: uppercase;
   letter-spacing: 0.05em;
}

header {
   display: flex;
}

.intro {
   display: flex;
}

.intro h1 {
   font-size: 83px;
   font-weight: 700;
   margin: 0;
   padding-top: 30%;
}

.intro h3 {
   font-weight: 600;
   font-size: 25px;
   font-style: italic;
   line-height: 35px;
   margin-bottom: 0;
}

.see-work {
   display: flex;
}

.see-work i {
   padding: 34px 15px;
   opacity: 0;
}

.see-work i:hover {
   opacity: 1;
}

.see-work h3 {
}

.illustration img {
   max-width: 500px;
   height: auto;
   padding-top: 30%;
}